@page "/"

<PageTitle>Index</PageTitle>

<h1>Test App for weather and charts</h1>

Welcome!

<SurveyPrompt Title="How is Blazor working for you?" />

@* can add a <Counter /> and the content of the counter.razor file will show up here*@
<Counter />

@* can add a second counter <Counter /> and pass a param*@
<Counter IncrementAmount="10" />