@using BlazorApp1.Data
@page "/todo"

@* Each Razor component file is compiled into a .NET class when the project is built.*@
@* can add inline code chunks*@
<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>
@* must bind input to property in code block*@
<input placeholder="Something todo" @bind="newTodo" />
@* what is btn-primary*@
<button class="btn btn-primary" @onclick="AddTodo">add</button>
<p>@DateTime.Now</p>
<p>@(DateTime.Now)</p>
@* TodoItem.cs has to be in blazorapp1 root or else TodoItem needs using above*@
@code 
{
    private static List<TodoItem> todos = new();
    private string? newTodo;
    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
           //var declarations do not use access modifiers in method blocks
            TodoItem newTodoItem = new TodoItem { Title = newTodo };
            todos.Add(newTodoItem);
           // todos.Add(new TodoItem { Title = newTodo});
            newTodo = string.Empty;
        }
    }
}
